# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.map
*.lst

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# LaTeX

*.pdf
*.aux
*.log
*.gz

#swap files
*.swp

#OSX files
*.DS_Store
